.profile {
    display: flex;
    margin-left: 24px;
    justify-content: center;
    
    & .flex-container{
        display: flex;
        align-items: center;
        margin: 6px;
        & h4 {
            flex-basis: 50%;
        }
    }
    
    &__container{
        flex-basis: 50%;
        & h4 {
            margin-left: 12px;
            margin-bottom: 0;
            margin-top: 0;
        }
     
    
    }
}